

.card_img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 230px;
} 

.card-content{
    /* border: 1.8px solid #000; */
    color: #002d26 ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0%;
} 